<%= stylesheet_link_tag 'area', :media => "all" %>
<div class="area">

<%= link_to "北海道・東北地方",worlds_hokkaidotohoku_path %>
<%= link_to "関東地方",worlds_kanto_path %>
<%= link_to "中部地方",worlds_tyubu_path %>
<%= link_to "近畿地方",worlds_kinki_path %>
<%= link_to "中国・四国地方",worlds_tyugokushikoku_path %>
<%= link_to "九州・沖縄地方",worlds_kyusyuokinawa_path %>

</div>