<%= stylesheet_link_tag 'genre', :media => "all" %>

<h5>どんな世界遺産を見つけたい？</h5>


<div class="genre">

<html>
  <body>
    <div class="container">
      <div class="image src1"></div>
      <div class="image src2"></div>
      <div class="image src3"></div>
      <div class="image src4"></div>
      <div class="image src5"></div>
    </div>
  </body>
</html>

<%= link_to "文化遺産",worlds_bunka_path %>
<%= link_to "自然遺産",worlds_shizen_path %>
<%= link_to "危機遺産",worlds_kiki_path %>
<%= link_to "負の遺産",worlds_hu_path %>



</div>