<%= stylesheet_link_tag 'index', :media => "all" %>


<h6>気になるワードで見つけてみよう。</h6>

<div class="world">

</div>
 <%= form_tag({controller:"worlds",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>


<% if user_signed_in? %>
   <% if current_user.admin? %>
     <%= link_to "新規投稿へ", new_world_path %>
   <% end %>
 <% end %>
<div class="worlds-container">
  <% @worlds.each do |t| %>
    <div class="world">

    
    
  <% end %>

  <html>
    <body>
      <div class="container">
        <div class="image src1"></div>
        <div class="image src2"></div>
        <div class="image src3"></div>
        <div class="image src4"></div>
        <div class="image src5"></div>
      </div>
    </body>
    

