

<h3></h3>
<div class=“world”>

<div class="name">
<p><%= @world.name %></p>

  
<p><%= image_tag @world.image_url, size: "700x400" if @world.image? %></p>
 
<div class="genre2">
<p><%= @world.genre %></p>


  <p><%= @world.address %></p>
  <p><%= @world.time %></p>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Martian+Mono:wght@800&family=Noto+Sans+JP:wght@100;300;500;600;800&family=Noto+Serif+JP:wght@200;900&display=swap" rel="stylesheet">
   
  <div class="about">
  <p><%= @world.about %></p>
   
  
  <div class="like">
    <% if user_signed_in? %>
    <% if current_user.already_liked?(@world) %>
      <%= link_to world_like_path(@world), method: :delete do %>
        <i class=“fas fa-heart”></i><%= @world.likes.count %>
      <% end %>
    <% else %>
      <%= link_to world_likes_path(@world), method: :post do %>
        <i class=“far fa-heart”></i><%= @world.likes.count %>
      <% end %>
    <% end %>
  <% else %>
    <i class=“far fa-heart”></i><%= @world.likes.count %>
  <% end %>
  <i class="far fa-heart"></i><%= @world.likes.count %>
  </div>

</div>


<div class="comment-wrapper">
  
  <% @comments.each do |c| %>
    <div>
      
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@world, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments">
      <% end %>
    <% end %>
  <% end %>
</div>





